loguru
rich_argparse
tabulate
expand_folders
scikit-learn
atlas-mpl-style
pytorch_lightning
matplotlib
seaborn
jupyterlab
numpy
pandas
tqdm
prettytable
dash
dash-bootstrap-components
python-multipart
dash-cytoscape
qiskit
qiskit-aer
pennylane
tensorflow
quimb
pylatexenc
pennylane-qiskit
kahypar
typer
autoray>=0.6,<0.7
flwr[simulation]>=1.28.0
flwr-datasets[vision]>=0.6.0
torch
torchvision
